:root,
:root[data-theme="dark"] {
      /* --cor-texto-primario: #fcfcfc; */
      --primary-bg: #0a0a0a; /* bg background */ 
      --primary-color: #fcfcfc; /* cor do texto */
      --houver-menu: #fde8e0; /* variação da cor do menu */
      --icon-color: #ff7214; /* cor dos icones */
      --icone-tema: orange; /* cor unica do icone de tema */

}

:root[data-theme="light"] {
      --primary-bg: #fcfcfc; /* bg background */ 
      --primary-color: #0a0a0a; /* cor do texto */
      --houver-menu: #fcfcfc;
}

/* css geral */

body {
    background: var(--primary-bg); /* cor do fundo */
    color: var(--primary-color); /* cor do texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

html[data-theme="light"] .logo  {
    filter: invert(1);
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--houver-menu);
}

i{
    color: var(--icon-color);
}

b{
    font-weight: 600;
}

h1{
    font-size: 2.5rem;
    font-weight: 200;
}

h2{

}

h3{

}

p, span, li{
    font-size: 1rem;
}

p{
    text-align:justify;
}

/* reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
/* fim do reset */

 

/* header */
#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
    background: var(--primary-bg);
}

/* .header-logo .logo */
.logo {   /*  img */
    width: 3.25rem; /* comprimento */
    height: 3.25rem; /* altura */
}

/* area do icone */
.header-toggle {
    display: flex;
    justify-content: flex-end;
}

#toggleTheme{
    color:var(--icone-tema);
    font-size: 2rem ;
    cursor: pointer;  /* aparencia do cursor */
}

.menu{ /* ul */
    display: flex;
    align-items: center;
    background: var(--primary-bg);
    gap: 1rem;
}

.menu-item{
    width: 100%;
}

.header-nav{
    display: none;
}

/* menu mobile */

.menu-mobile{
    width: 100vw; /*  V W = Viewport width */
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid #ff7214;
}

.menu-mobile .menu-link{
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.menu-link.active .menu-icon, 
.menu-link.active .menu-text,
.menu-link.hover .menu-icon,
.menu-link:hover .menu-text {
    color: #ffe9db;   /* cor do link */
}

.menu-icon, .menu-text{
    color: #ff7214; 
    font-weight: 600;
}

.menu-icon{
    font-size: 1.5rem;
}

.menu-text{
    font-size: .75rem;
    text-transform: uppercase;
}

.menu-principal{
    gap: 2rem;
}

.menu-social{
    gap: 1.5rem;
}

.menu-social .menu-icon  {
    color: #ff7214;
}

.menu-social .menu-icon:hover {
    color: #ffe9db;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background: transparent;
    border-radius: 3rem;
    color: var(--primary-color);
    border: none;
    padding: .5rem 1.5rem;
    cursor: pointer;

}

.btn:hover  {
    transform: scale(1.5);
    transition: ease-in-out .1s; /* transição do botão projetos */
}

.btn span, .btn i  {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.btn-primary span  {
    color: var(--primary-color);
}

.btn-primary  {
    border: 1.5px solid var(--houver-menu)
}

/* inicio da main */

#home  {
    display: flex;
    flex: column;
    gap: 3rem;
}

.main-content  {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.video iframe  {
    width: 100%;
    aspect-ratio: 16/9;
}

#home, .projetos, .sobre, .contato {
    /* padding:5rem 10rem; */
    padding: 2.5rem 1rem;
}

/* ---- projetos ---- */

.projetos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projetos-container  {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
/*Responsividade /* Responsivo */

@media (min-width: 768px) {
    #header {
        position: fixed;
        padding: 1rem 6rem;
    }
    .nav-mobile{
        display: none;
    }

    .header-nav {
        display: flex;
    }

    .header-nav, .header-toggle   {
        min-width: 30%;   
    }

    h1{
        font-size: 5rem;
    }

    h2 {

    
    }

    h3{

    }

    #home, .projetos, .sobre, .contato {
        padding: 8rem 6rem 4rem 6rem;
    }

}